{{>cabeza}}
<div class="row mt-3  mb-5 justify-content-center align-items-center">
    <div class="col col-8 justify-content-center">

        <h3 class=" text-center display-3">
            ¿A donde quieres acceder?
        </h3>
        <hr>
    </div>
    <div class="row mt-3  mb-5 justify-content-center align-items-center">
        <div class="mt-3 col-sm-8 col-md-7 col-lg-3  text-center justify-content-center">
            <div class="card mx-auto" style="width: 15rem;">
                <img src="/images/temario.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Temario</h5>
                    <p class="card-text">Accede a los examenes de otros años y a todos los temarios de las asigaturas a
                        las que te presentes </p>
                    <a class="text-center" href="http://localhost:8081/castellano/temario">
                        <button type="button" class="btn mx-auto mt-2 text-primary btn-secondary">
                            Acceder
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="mt-3 col-sm-8 mt-sm-3 col-md-7 col-lg-3  text-center justify-content-center">
            <div class="card mx-auto" style="width: 15rem;">
                <img src="/images/comunidad.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Comunidad</h5>
                    <p class="card-text">Comparte y descarga apuntes de otros compañeros.</p>
                    <a class="text-center" href="http://localhost:8081/castellano/comunidad">
                        <button type="button" class="btn mx-auto mt-2 text-primary btn-secondary">
                            Acceder
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="mt-3 col-sm-8 mt-sm-3 col-md-7 col-lg-3  text-center justify-content-center">
            <div class="card mx-auto" style="width: 15rem;">
                <img src="/images/profesor.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Profesores</h5>
                    <p class="card-text">Contacta con profesores y academias cerca de ti para una ayuda adicional.</p>
                    <a class="text-center" href="http://localhost:8081/castellano/profesores">
                        <button type="button" class="btn mx-auto mt-2 text-primary btn-secondary">
                            Acceder
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

{{>pie}}